.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  display: flex;
  color: white;
}
  .App-header1{
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    display: flex;
    color: white;
  }

    .pdf-viewer-container {
      width: 100%;
      max-width: 45%; 
      height: 450px; 
      margin: 20px auto; 
      border: 1px solid #ccc; 
      overflow: hidden; 
      display: flex;
      justify-content: space-between;
      border: 5px solid #00bcd4;
      border-radius: 15px;
    }

  .App-header2{
    height: 100%; 
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    display: flex;
    color: white;
    margin-right: 5%;
  }

    .toggle-piano-button{
      background-color: #00bcd4;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      margin: 3px;
      transition: background-color 0.3s ease;
      text-align: center;
      margin: 20px;
      margin-left: 3%;
      margin-right: auto;
      display: flex;
      padding: 15px 20px;
    }

    .toggle-piano-button:hover{
      background-color: #21a7b8;
    }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

